[2021-09-14 07:41] khebhut[bot] opened #529 "Kebechet thoth-advise manager: ConnectionError - 6fa121768c"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
Traceback (most recent call la

[2021-09-14 07:41] khebhut[bot] opened #530 "Kebechet thoth-advise manager: ConnectionError - 1fc72bae82"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
Traceback (most recent call la

[2021-09-14 07:42] khebhut[bot] opened #531 "Kebechet thoth-advise manager: ConnectionError - abcf903b87"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
Traceback (most recent call la

[2021-09-14 07:42] khebhut[bot] opened #532 "Kebechet thoth-advise manager: ConnectionError - 214afa9d60"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
Traceback (most recent call la

[2021-09-14 07:43] khebhut[bot] opened #533 "Kebechet thoth-advise manager: ConnectionError - ce288f78af"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
Traceback (most recent call la

[2021-09-14 07:43] khebhut[bot] opened #534 "Kebechet thoth-advise manager: ConnectionError - 383884a4cd"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
Traceback (most recent call la

[2021-09-14 07:43] khebhut[bot] opened #535 "Kebechet thoth-advise manager: ConnectionError - 5e4ebd861f"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
Traceback (most recent call la

[2021-09-14 07:44] khebhut[bot] opened #536 "Kebechet thoth-advise manager: ConnectionError - 134633351f"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
Traceback (most recent call la

[2021-09-14 07:44] khebhut[bot] opened #537 "Kebechet thoth-advise manager: ConnectionError - ede48ba95b"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
Traceback (most recent call la

[2021-09-17 06:55] #512 closed

[2021-09-17 06:55] #513 closed

[2021-09-17 06:55] #514 closed

[2021-09-17 06:55] #515 closed

[2021-09-17 06:55] #516 closed

[2021-09-17 06:55] #518 closed

[2021-09-17 06:55] #519 closed

[2021-09-17 06:55] #520 closed

[2021-09-17 06:55] #521 closed

[2021-09-17 06:55] #522 closed

[2021-09-17 06:55] #523 closed

[2021-09-17 06:55] #524 closed

[2021-09-17 06:55] #525 closed

[2021-09-17 06:55] #526 closed

[2021-09-17 06:55] #527 closed

[2021-09-17 06:55] #528 closed

[2021-09-17 06:55] #529 closed

[2021-09-17 06:55] #530 closed

[2021-09-17 06:55] #531 closed

[2021-09-17 06:55] #532 closed

[2021-09-17 06:55] #533 closed

[2021-09-17 06:55] #534 closed

[2021-09-17 06:55] #535 closed

[2021-09-17 06:55] #536 closed

[2021-09-17 06:55] #537 closed

[2021-09-17 06:55] #508 closed

[2021-09-17 06:55] #509 closed

[2021-09-17 06:55] #510 closed

[2021-09-17 06:55] #511 closed

[2021-09-20 16:13] pacospace commented on #416
Thanks @KPostOffice !!

[2021-09-20 16:13] #416 closed

[2021-09-23 05:30] sesheta commented on #322
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-23 05:30] sesheta commented on #322
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-23 05:30] sesheta commented on #322
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/jupyterlab-requirements/issues/322#issuecomment-925517091):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-09-23 11:30] sesheta commented on #342
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-23 11:30] sesheta commented on #342
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-23 11:30] sesheta commented on #342
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/jupyterlab-requirements/issues/342#issuecomment-925726867):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-09-23 14:30] sesheta commented on #315
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-23 14:30] sesheta commented on #315
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/jupyterlab-requirements/issues/315#issuecomment-925870820):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-09-23 17:30] sesheta commented on #198
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-23 17:30] sesheta commented on #47
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-23 17:30] sesheta commented on #47
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-23 17:30] sesheta commented on #198
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-23 17:30] sesheta commented on #198
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/jupyterlab-requirements/issues/198#issuecomment-926015032):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-09-23 17:30] sesheta commented on #47
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/jupyterlab-requirements/issues/47#issuecomment-926015042):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kube

[2021-09-24 08:31] sesheta commented on #289
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-24 08:31] sesheta commented on #289
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-24 08:31] sesheta commented on #289
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/jupyterlab-requirements/issues/289#issuecomment-926446848):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-09-24 11:31] sesheta commented on #232
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-24 11:31] sesheta commented on #232
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-24 11:31] sesheta commented on #232
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/jupyterlab-requirements/issues/232#issuecomment-926553662):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-09-25 17:31] sesheta commented on #31
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-25 17:31] sesheta commented on #31
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-25 17:31] sesheta commented on #31
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/jupyterlab-requirements/issues/31#issuecomment-927155838):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kube

[2021-09-28 16:09] MichaelClifford opened #538 "KeyError: 'runtime_environment' when using `horus lock`"
**Describe the bug**

`horus lock notebooks/Untitled.ipynb --kernel-name test --pipenv` throws a `KeyError: 'runtime_environment'` with version: 0.11.0 on the jupyter lab image.

Additional Info:
Horus (jupyterlab-requirements CLI) version: 0.11.0
Thamos Client version: 1.17.0
Thoth API N/A: N/A

**To Reproduce**
Steps to reproduce the behavior:
1. Open Jupyter Lab with jupyterlab-requirements CLI

[2021-09-28 16:11] goern commented on #538
/kind bug
/priority important-soon
/assign @pacospace
/triage accepted

[2021-09-28 17:04] pacospace commented on #538
Thanks for the issue @MichaelClifford!!

I realized there is an issue in the image we are using @MichaelClifford with Elyra, I opened https://github.com/opendatahub-io/s2i-lab-elyra/pull/35 to solve that and I will take care of this soon!

[2021-09-30 10:29] pacospace commented on #538
I tested new elyra image, but it turns out this error is only on the CLI, I fixed it in the linked Pull Request.

[2021-09-30 11:32] sesheta commented on #404
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-30 11:32] sesheta commented on #404
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-30 11:32] sesheta commented on #404
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/jupyterlab-requirements/issues/404#issuecomment-931238442):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-09-30 19:45] #538 closed

[2021-09-30 20:57] tlegen-k commented on #198
Hi @pacospace,
I would like to proceed with this issue, but not sure what is the best approach?

[2021-10-01 10:12] pacospace commented on #198
This depends on: https://github.com/thoth-station/jupyterlab-requirements/issues/198

[2021-10-01 14:19] pacospace opened #540 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-10-01 17:32] sesheta commented on #345
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-10-01 17:32] #345 closed

[2021-10-01 17:32] sesheta commented on #345
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/jupyterlab-requirements/issues/345#issuecomment-932425073):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-10-04 13:58] pacospace commented on #342
@goern I got accepted and will host a session at ODSC West 2021 :)

[2021-10-05 07:50] goern commented on #425
/kind feature
/priority backlog

[2021-10-06 08:33] sesheta commented on #17
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-10-06 08:33] sesheta commented on #115
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-10-06 08:33] sesheta commented on #111
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-10-06 08:33] sesheta commented on #17
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/jupyterlab-requirements/issues/17#issuecomment-935747686):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kube

[2021-10-06 08:33] #111 closed

[2021-10-06 08:33] sesheta commented on #111
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/jupyterlab-requirements/issues/111#issuecomment-935747747):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-10-06 08:33] sesheta commented on #168
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/jupyterlab-requirements/issues/168#issuecomment-935747766):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-10-06 08:33] sesheta commented on #229
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/jupyterlab-requirements/issues/229#issuecomment-935747778):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-10-06 14:36] #540 closed

[2021-10-09 11:33] sesheta commented on #176
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-10-09 11:33] sesheta commented on #235
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-10-09 11:33] sesheta commented on #87
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-10-09 11:33] sesheta commented on #170
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-10-09 11:33] sesheta commented on #64
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-10-09 11:33] sesheta commented on #323
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-10-09 11:33] sesheta commented on #172
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-10-09 11:33] #87 closed

[2021-10-09 11:33] #235 closed

[2021-10-09 11:34] #64 closed

[2021-10-09 11:34] sesheta commented on #87
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/jupyterlab-requirements/issues/87#issuecomment-939281803):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kube

[2021-10-09 11:34] #197 closed

[2021-10-09 11:34] sesheta commented on #235
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/jupyterlab-requirements/issues/235#issuecomment-939281802):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-10-09 11:34] sesheta commented on #244
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/jupyterlab-requirements/issues/244#issuecomment-939281810):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-10-09 11:34] sesheta commented on #323
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/jupyterlab-requirements/issues/323#issuecomment-939281806):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-10-10 08:33] sesheta commented on #62
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-10-20 16:44] pacospace opened #544 "recommendation from Thoth fails because base image discovered filters out packages not present in the discovered base image"
**Describe the bug**
recommendation from Thoth fails because based image discovered filters out packages not present in the known base image

**To Reproduce**
Steps to reproduce the behavior:
1. `podman run -p 8888:8888 quay.io/thoth-station/s2i-lab-elyra:latest start-singleuser.sh --ip="0.0.0.0" --port=8888`
2. start a new notebook
3. Run %horus requirements --add pandas
4. Run %horus lock

**Exp

[2021-10-21 07:32] pacospace commented on #544
It's an issue in jupyterlab-requirements when giving the requirements input to thamos library:

adviser-211020162604-ed2c3d945003c20c scheduled from jupyterlab-requirements
[code]

adviser-211020161426-a4f675ba0629d83b scheduled from thamos CLI
[code]

I'm implementing a workaround.

[2021-10-21 07:54] fridex commented on #544
It is still not clear to me what's happening here. It looks like both requirements are equivalent - one uses TOML, the other one uses JSON. The backend should treat both cases as valid (and equivalent) inputs.

[2021-10-21 08:22] pacospace commented on #544
It was the base image actually @fridex, not the requirements!

[2021-10-21 09:40] pacospace opened #546 "Allow users to submit thoth request with --debug/verbose mode"
**Is your feature request related to a problem? Please describe.**
As user of this extension and thoth resolution engine,

I want to trigger thamos advise in debug mode.

See: https://github.com/thoth-station/jupyterlab-requirements/issues/544#issuecomment-948382097

**Describe the solution you'd like**
Add --debug option for users in UI, CLI and magic commands.

**Describe alternatives you've con

[2021-10-21 12:45] pacospace opened #548 "Allow users to get log from analysis id if available in that notebook metadata"
**Is your feature request related to a problem? Please describe.**
As user of thoth and this extension,

I would like to check logs regarding recommendation provided.

**Describe the solution you'd like**
Allow users to get log from analysis id if available in that kernel.

- [x] create command for CLI
- [x] create command for magic commands

**Describe alternatives you've considered**
A clear and

[2021-10-21 15:09] pacospace opened #550 "Allow users to manage .thoth.yaml (base-image, os-name, os-version, python-version)"
**Is your feature request related to a problem? Please describe.**
As user of this extension and thoth resolution engine,

I want to modify .thoth.yaml before making a request.

See conversation: https://github.com/thoth-station/jupyterlab-requirements/pull/549

**Describe the solution you'd like**
- Add thoth yaml inputs for users in UI
- Add horus config command for CLI and magic commands (thamo

[2021-10-21 18:56] #546 closed, assigned to pacospace

[2021-10-21 18:59] pacospace opened #551 "Add table describing all parameters in the UI doc"
**Is your feature request related to a problem? Please describe.**
As user of jl-req,

I want to have docs about each parameter input in the UI.

**Describe the solution you'd like**
Add table describing all parameters in the UI doc.

**Describe alternatives you've considered**

**Additional context**

[2021-10-25 07:18] pacospace opened #553 "Add convert command to horus CLI"
**Is your feature request related to a problem? Please describe.**
As user of this extension,

I want to have horus convert command also for the CLI.

**Describe the solution you'd like**
Add convert command to horus CLI

**Describe alternatives you've considered**

**Additional context**

[2021-10-29 13:58] #550 closed, assigned to pacospace

[2021-10-29 14:11] pacospace opened #557 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-10-29 14:18] #557 closed, assigned to sesheta

[2021-11-04 09:37] arielshulman opened #559 "Every tables on jupyterlab affected by thoth station css"
**Describe the bug**
We're using s2i-minimal-notebook project in our openshift environment as our base image for ml models development.
We've gladly found thoth-station new versions for the s2i-minimal-notebook and we've decide to test it for our work.
Everything worked fine but we've found strange behavior with pandas tables "display" cells, which look differently since before. After some digging

[2021-11-04 09:55] pacospace commented on #559
hey @arielshulman thanks for reporting this issue. I was able to replicate it. I will adjust it and include the fix in the next release `v0.13.0`

[2021-11-04 10:03] #559 closed

[2021-11-04 10:29] arielshulman commented on #559
@pacospace Thank you for the super quick response!
Just a thought, maybe the CSS selectors should be more strict and not to include all of the th, tr, table globaly.
Although the impact could be less noticed, it seems there are more potential global impacts by the CSS, like in this selector:

https://github.com/thoth-station/jupyterlab-requirements/blob/a9df8c06bc0b2634ec3add178619d4388d48e8b9/sty

[2021-11-05 13:24] pacospace commented on #559
Thanks @arielshulman! Do you want to contribute with some fixes here? the UX part need some improvements for sure :)

[2021-11-05 13:26] pacospace opened #564 "Provide a template that is automatically expanded based on autodiscovery and adjust only `overlays_dir`"
That sounds like a logic that can embed the content into the notebook metadata. The embed logic can pick which runtime environment to keep in the notebook metadata. Also, information about other runtime environments can be kept in the notebook metadata and additional information can point to which runtime environment was used for resolving dependencies (which might be better as it will keep inform

[2021-11-05 13:27] pacospace opened #565 "Use only one .thoth.yaml in kernels and have logic to save only runtime environment dedicated to specific notebook"
That sounds like a logic that can embed the content into the notebook metadata. The embed logic can pick which runtime environment to keep in the notebook metadata. Also, information about other runtime environments can be kept in the notebook metadata and additional information can point to which runtime environment was used for resolving dependencies (which might be better as it will keep inform

[2021-11-07 03:31] arielshulman commented on #559
Sorry, but my I'm far from being  UI/UX guy 😔

[2021-11-09 10:29] pacospace opened #566 "Kebechet update"
Hey, Kebechet!

Update my dependencies, please.

[2021-11-09 11:09] pacospace commented on #566
Depends-On: https://github.com/thoth-station/kebechet/issues/898 not available in prod.

[2021-11-11 11:35] codificat commented on #548
/triage accepted
/assign @pacospace

[2021-11-11 11:36] codificat commented on #553
/triage accepted
/assign @pacospace

[2021-11-15 08:57] fridex commented on #565
Maybe a use case here - a user A uses a notebook with UBI8+python3.8 and sends the notebook to user B with Fedora:35+python3.9. User B asks Thoth for an advise, now notebook captures information for Fedora:35+python3.9 as well. This way, the notebook is reproducible ("known to work") for different runtime environments and this information can be encoded in the notebook metadata. If the notebook is

[2021-11-15 09:03] fridex opened #568 "vscode integration"
**Is your feature request related to a problem? Please describe.**

vscode is gaining popularity, especially considering in-browser development offered by GitHub. It might be interesting to add Thoth support to vscode. vscode already supports [jupyter notebooks](https://marketplace.visualstudio.com/items?itemName=ms-toolsai.jupyter), it might be interesting to integrate there. Given vscode design,

[2021-11-15 13:13] codificat commented on #568
/kind feature
/triage needs-information

[2021-11-16 11:38] pacospace opened #571 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-11-16 16:52] fridex opened #572 "Propagate package information from images built in AICoE-CI"
**Is your feature request related to a problem? Please describe.**

Related: https://github.com/thoth-station/package-extract/pull/459

As a data scientist, I would like to know which packages were installed into the containerized enviornment. To support this, I would like to see a package listing available in jupyterlab-requirements extension. Unlike raw pip, the extension would give me informati

[2021-11-16 17:03] #571 closed

[2021-11-17 13:49] pacospace commented on #168
![Screenshot from 2021-11-17 14-48-38](https://user-images.githubusercontent.com/27498679/142212702-11082794-cd85-4578-a60f-524efde47a34.png)

[2021-11-17 13:49] #168 closed

[2021-11-18 09:34] fridex commented on #572
Related https://github.com/thoth-station/jupyterlab-requirements/issues/168

[2021-11-22 14:36] pacospace opened #576 "Store thoth adviser analysis id in notebook metadata"
**Is your feature request related to a problem? Please describe.**
As user I want to know what is the analysis id that created my recommendation.

**Describe the solution you'd like**
Store thoth adviser analysis id in notebook metadata after locking with thoth resolution engine.

**Describe alternatives you've considered**

**Additional context**
after tech talk discussion, suggested by @fridex

[2021-11-22 14:37] pacospace commented on #548
Use analysis id stored in notebook metadata: https://github.com/thoth-station/jupyterlab-requirements/issues/576

[2021-11-23 15:17] goern commented on #115
/area byon

[2021-11-23 15:17] goern commented on #17
/area byon

[2021-11-23 15:17] goern commented on #17
/area byon

[2021-11-23 15:18] goern commented on #63
/area byon

[2021-11-23 15:18] goern commented on #291
/area byon

[2021-11-23 15:19] goern commented on #289
/area byon

[2021-11-23 15:20] goern commented on #31
/area byon

[2021-11-23 15:20] goern commented on #77
/area byon

[2021-11-23 15:20] goern commented on #176
/area byon

[2021-11-24 07:58] pacospace commented on #342
ODSC West material for Reproducibility and Dependencies for Jupyter Notebooks.

Slide: https://github.com/thoth-station/talks/blob/master/2021-11-16-odsc-west/ODSC%20West%202021.pdf
Recording: https://youtu.be/FvVJNccTibs

We can close the issue! We will track new submissions to a conference here: https://github.com/orgs/AICoE/projects/5

[2021-11-24 07:58] #342 closed

[2021-11-24 11:12] pacospace opened #579 "User can check and select a base image from thoth database for recomendation"
**Is your feature request related to a problem? Please describe.**
As User,

I want to ask for a reccomendation for my application to run on a certain environment and I want to select from a list of images.

**Describe the solution you'd like**
Base image field shows list of values. horus commands can list container images.

**Describe alternatives you've considered**
A clear and concise descripti

[2021-11-25 15:11] #198 closed

[2021-11-25 15:50] #576 closed

[2021-11-26 08:26] pacospace opened #581 "Add tests for horus lib"
**Is your feature request related to a problem? Please describe.**
No tests currently available

**Describe the solution you'd like**
Introduce tests for horus lib

**Describe alternatives you've considered**

**Additional context**

[2021-12-01 10:57] #581 closed

[2021-12-01 11:44] pacospace opened #586 "Update setup.py due to jupyter_packaging changes"
**Is your feature request related to a problem? Please describe.**
[code]

**Describe the solution you'd like**
Update setup.py due to jupyter_packaging changes

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-12-01 16:05] #548 closed

[2021-12-02 15:42] pacospace opened #590 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-12-02 15:50] #590 closed

[2021-12-05 13:59] llunved opened #592 "jupyterlab-requirements should support fallback to micropipenv"
**Describe the bug**
jupyterlab-requirements fallback requires pipenv. It should use micropipenv if that is available instead.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a container with jupyterlab-requirements and only micropipenv.
2. Create a notebook and add a dependency.
3. Try to resolve locally.
4. See error

![image](https://user-images.githubusercontent.com/6224202/144749

[2021-12-07 15:19] fridex commented on #544
This should be fixed with the referenced PRs. Feel free to reopen if the issue persists.

/close

[2021-12-07 15:19] #544 closed

[2021-12-08 08:31] pacospace commented on #592
Thanks @llunved for opening this issue!

Micropipenv (https://github.com/thoth-station/micropipenv), despite the name, it is not a resolver, but it is used to install dependencies from a solved stack in containers.
In jupyterlab-requirements it is used once the locked files (created with Thoth or Pipenv) have been created.

So micropipenv cannot be used as fallback. For sure we can improve the mes

[2021-12-13 09:48] fridex commented on #592
That is true. Moreover, [micropipenv fallbacks to pip's resolution algorithm](https://github.com/thoth-station/micropipenv/#whats-the-difference-in-comparision-to-pip-when-using-requirementstxt) if the provided requirements are not locked which could fit into the requested feature. However, micropipenv (as of now) has no mechanism to obtain the locked stack from pip's resolution (related: https://

[2021-12-21 11:24] goern commented on #592
This is a good explanation, could you add it to the screen show above?

[2022-01-14 13:44] goern commented on #592
what is the status of this one?

[2022-01-14 13:50] pacospace commented on #592
I'm gonna add the message to the UI and we can close this.

[2022-01-17 09:55] #592 closed

[2022-01-19 14:02] #323 closed

[2022-01-20 15:38] #62 closed

[2022-01-21 14:55] pacospace opened #599 "Parameters requested from the UI once selected do not modify the state"
**Describe the bug**
Parameters requested from the UI once selected do not modify the state of the app.

**To Reproduce**
Steps to reproduce the behavior:
1. Open UI and select Pipenv as the resolution engine for example or try to select any of the other parameters

**Expected behavior**

**Screenshots**

**Environment information**
current master of jupyterlab-requirements

**Stack information**

[2022-01-21 15:09] pacospace commented on #77
@Gkrumbach07 please consider https://github.com/jupyterlab/jupyterlab/issues/9894

[2022-01-21 16:12] Gkrumbach07 opened #600 "Thoth error when installing dependencies"
**Describe the bug**
I get an error when I try to install dependencies from the UI under _manage dependencies_

**To Reproduce**
1. Create a new notebook
2. select manage dependencies button
3. type `pandas` and save
![image](https://user-images.githubusercontent.com/12587674/150559703-f6a26b1b-417d-4cc3-a2c9-a14fb72c2efa.png)
4. keep default options
5. install
6. error

**Screenshots**
![image](h

[2022-01-21 16:39] pacospace commented on #600
Thanks @Gkrumbach07 for opening this issue. Never tested in on Mac to be honest :)

Can you please provide also your runtime information?
they should be automatically discovered and added to the options before using the install button:
![Screenshot from 2022-01-21 17-34-00](https://user-images.githubusercontent.com/27498679/150564708-1d328a6e-bcd7-4fb6-8887-ddb7ec4eebcc.png)

can you also check an

[2022-01-21 16:44] Gkrumbach07 commented on #600
![image](https://user-images.githubusercontent.com/12587674/150565870-b5f232e7-a374-4d69-b2c5-c14967932203.png)

![image](https://user-images.githubusercontent.com/12587674/150566244-cccc684e-2d28-494e-a6e4-2e201e7ed51e.png)

![image](https://user-images.githubusercontent.com/12587674/150566183-0aca9d25-4e4c-463d-8a90-1db5ce2b2603.png)

[code]

[2022-01-21 16:57] pacospace commented on #600
Thoth does not have Mac runtime environment for sure. Nevertheless, this is not the error expected when a runtime environment is not known.

I check pod logs from User-API:

[code]

[2022-01-21 17:06] pacospace commented on #600
@Gkrumbach07 can you please show what you have at cat `.local/share/thoth/kernels/jupyterlab-requirements/.thoth.yaml`?

[2022-01-21 17:18] Gkrumbach07 commented on #600
[code]

[2022-01-21 18:34] pacospace commented on #600
mmm don't think this is the one discovered as there is ubi8, this seems the local .thoth.yaml from this repository, can you try `thamos discover` in a folder without .thoth.yaml please?

[2022-01-21 18:36] pacospace commented on #600
.thoth.yaml created on my machine:
[code]

[2022-01-21 18:41] pacospace commented on #600
Actually, I think I found the problem from your screenshot above, the CPU family and CPU model are assigned as "None", not as nulll, because they are not recognized on a Mac.

[2022-01-21 18:43] Gkrumbach07 commented on #600
So will this not work on Mac?

[2022-01-21 18:49] pacospace commented on #600
can you show me in particular from the browser logs the thoth config section:
![Screenshot from 2022-01-21 19-47-53](https://user-images.githubusercontent.com/27498679/150583309-b608c2e5-5784-4a22-a61e-bf60c069b98a.png)

we need to identify where that conversion happen and why `"None"` is not converted in null when moving from dict to json.

[2022-01-21 18:53] Gkrumbach07 commented on #600
![image](https://user-images.githubusercontent.com/12587674/150583941-63f2ee04-dc00-4586-a16f-941f3c4ba733.png)

[2022-01-21 18:57] pacospace commented on #600
I'm afraid the problem might be in thamos then when doing `thamos discovery`, cc @fridex, https://github.com/thoth-station/thamos/blob/f83cbd7f2e613da327f9b5b2ba0439d3f8a82922/thamos/data/defaultThoth.yaml#L29 as gpu_model is correctly assigned as null value, while the others as 'None'

[2022-01-24 11:39] fridex commented on #600
Should be fixed with thoth-station/thamos#1021.

[2022-01-24 11:44] pacospace commented on #600
Thanks @fridex!

[2022-01-25 14:51] Gkrumbach07 commented on #599
There were a few issues, but I think I fixed them.

[2022-01-25 16:21] #599 closed

[2022-01-26 11:01] #600 closed

[2022-01-26 12:04] pacospace opened #604 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-01-26 12:13] #604 closed

[2022-01-27 14:21] Gkrumbach07 commented on #63
Will the version dropdown take the place of the constraint text box? I can see there being two dropdown, one for the condition (==, >, <, etc), and one for the actual version.

[2022-01-27 14:39] pacospace commented on #63
Sounds better to have one for condition and one for version yes, thanks @Gkrumbach07, then we will need one for the index:  https://github.com/thoth-station/jupyterlab-requirements/issues/232

[2022-01-27 14:40] pacospace commented on #63
Please assign to yourself the issue @Gkrumbach07 if you start to work on it and put the lifecycle active label also :) Thanks!! 🚀

[2022-01-27 15:12] Gkrumbach07 commented on #63
/assign @Gkrumbach07
/lifecycle active

[2022-01-27 16:30] Gkrumbach07 opened #607 "New docs for the API"
**Is your feature request related to a problem? Please describe.**
There is not a maintainable docs in place.

**Describe the solution you'd like**
I would like to implement something using [TypeDoc](https://typedoc.org/). This would allow a mostly automatic way to get a basic api doc up and running. TypeDoc also allows you to use standard function headers to customize and further give detail to t

[2022-02-01 19:31] Gkrumbach07 commented on #63
No simple way to "search" for a package ( i.e. `pand` -> `pandas` ) but I am able to give an indication when a package is valid.

![image](https://user-images.githubusercontent.com/12587674/152037679-3ee05887-1e06-4272-b228-d74db461316d.png)
vs
![image](https://user-images.githubusercontent.com/12587674/152037779-d32c9c38-3d6b-465d-a506-0d9db88b56aa.png)

[2022-02-01 22:44] pacospace commented on #63
This is really awesome!! Thanks @Gkrumbach07!

[2022-02-02 19:15] Gkrumbach07 commented on #63
Version picker is complete. It is a bit more complex due to needing to have multiple constraints. Let me know if it needs tweaking

https://user-images.githubusercontent.com/12587674/152221658-7277530c-3b38-4233-982b-648b134b4447.mov

[2022-02-02 19:45] pacospace commented on #63
Very nice!! Thanks @Gkrumbach07, can we show the description of the package entirely?

also can we show the releases in reversed order, from latest to oldest?

I love the multiple constraints option!!

[2022-02-03 07:57] pacospace opened #609 "Improve OPTIONS UI for dependency resolvers"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
Improve quality of UI options for dependency resolvers

**Describe alternatives you've considered**

**Additional context**

[2022-02-07 14:06] Gkrumbach07 commented on #609
Hi @pacospace, When you say quality, do you mean the visual aspect or a interaction aspect of the UI. Are you suggesting a complete overhaul or slight tweaks.

Does the new UI in https://github.com/thoth-station/jupyter-nbrequirements#nbrequirements-ui look like something you would want in a UI upgrade?

[2022-02-07 14:19] pacospace commented on #609
hey @Gkrumbach07, thank you for asking. I'm interested in the visual aspect for the OPTIONS part of the UI.

Moving into the direction of nbrequirements look would be nice indeed I think, but if you have better option feel free to propose :)

[2022-02-07 14:31] Gkrumbach07 commented on #609
/triage accepted
/assign @Gkrumbach07

[2022-02-11 11:05] pacospace opened #611 "Clicking Install from UI does not change state even though process started."
**Describe the bug**
Clicking Install from UI does not change state even though process started.

**To Reproduce**
Steps to reproduce the behavior:
1. Add packages to a notebook from a UI and hit Install button

**Expected behavior**
Once Install button is clicked the state is changed to `in progress`

**Screenshots**

**Environment information**
Describe the environment from where you are using t

[2022-02-11 21:46] Gkrumbach07 commented on #609
Any changes / concerns / issues you see with this implantation @pacospace?

https://user-images.githubusercontent.com/12587674/153674654-537e8c08-70ce-4225-8376-02072ea14390.mov

n

[2022-02-14 07:36] pacospace commented on #609
This is great @Gkrumbach07!

[2022-02-14 10:17] #611 closed

[2022-02-14 15:49] #609 closed

[2022-02-14 16:18] pacospace opened #614 "Update UI docs"
**Is your feature request related to a problem? Please describe.**
Based on new features, would be nice to update docs about UI.

**Describe the solution you'd like**
Update UI docs: https://github.com/thoth-station/jupyterlab-requirements/blob/master/docs/source/jupyterlab-requirements-ui.md

**Describe alternatives you've considered**

**Additional context**

[2022-02-14 17:04] Gkrumbach07 commented on #614
/triage accepted
/lifecycle active

[2022-02-16 08:46] pacospace opened #616 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-02-16 08:55] #616 closed

[2022-02-16 09:41] goern commented on #607
/priority critical-urgent

[2022-02-16 10:01] goern commented on #63
any updates on this? do we consider it done?

[2022-02-16 12:33] Gkrumbach07 commented on #63
It is in the latest release. Can be closed.

[2022-02-16 13:42] #63 closed

[2022-02-16 13:42] sesheta commented on #63
@Gkrumbach07: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/jupyterlab-requirements/issues/63#issuecomment-1041504191):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the

[2022-02-17 16:25] pacospace opened #620 "constraints versions of packages are not ordered"
**Describe the bug**
constraints versions of packages are not ordered

**To Reproduce**
Steps to reproduce the behavior:
1. Add boto3
2. check constraints

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![Screenshot from 2022-02-17 17-23-12](https://user-images.githubusercontent.com/27498679/154525078-7981837a-17df-474c-a057-785f2eeb01ba.png)

[2022-02-17 16:34] Gkrumbach07 commented on #620
Hi @pacospace. I have seen this issue before and it pops up only for some packages. The issue is that sometimes the packages are stored in order and sometimes they are not. Previously, to get around this, I would iteratively fetch each page of data and then sort it on the frontend. Depending on the amount of versions available, this could slow down the ui.

The fix I would recommend would be on Us

[2022-02-17 17:17] Gkrumbach07 opened #621 "Add a warning for unknown packages"
**Is your feature request related to a problem? Please describe.**
When removing pipenv as an option, users should be notified if a package is not known by Thoth

**Describe the solution you'd like**
_As a data scientist, I want to use jupyterlab-requirements dependency manager to help me manage my notebook dependencies. I am using mostly common packages except for a specific graphing package. Whe

[2022-02-17 17:20] pacospace commented on #620
thanks @Gkrumbach07 for the comment! I see there is no sort in the query for package versions here in the method in User-API: https://github.com/thoth-station/user-api/blob/b96280a57010a46481265e63b066883987d6dfc0/thoth/user_api/api_v1.py#L735, it needs some new logic indeeed on the backend side.

Can you please open a feature request in User-API in that case then? so we can discuss there with @fr

[2022-02-17 19:20] pacospace commented on #620
I think we can wait a bit, it is not critical.

[2022-02-17 20:24] Gkrumbach07 commented on #621
/assign @Gkrumbach07
/lifecycle active

[2022-02-21 22:21] pacospace commented on #614
Fixed by @Gkrumbach07 !

[2022-02-21 22:21] #614 closed

[2022-02-22 08:26] pacospace opened #624 "Use rich-click for nice CLI"
**Is your feature request related to a problem? Please describe.**
Use rich-click for nice CLI

**Describe the solution you'd like**
Use rich-click for nice CLI

**Describe alternatives you've considered**

**Additional context**

[2022-02-22 09:43] pacospace commented on #111
@Gkrumbach07 what about this issue? wdyt?

[2022-02-22 12:31] Gkrumbach07 commented on #111
Is there a specific process? For testing purposes.

[2022-02-22 12:44] pacospace commented on #111
The test should be: when you open the dependency management UI and then you click outside of it, the UI will disappear even if a process is running.

[2022-02-22 13:07] sesheta commented on #564
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-22 13:07] sesheta commented on #565
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-22 13:07] sesheta commented on #170
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-22 13:07] sesheta commented on #572
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-22 13:07] sesheta commented on #553
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-22 13:11] Gkrumbach07 commented on #621
/close

[2022-02-22 13:11] #621 closed

[2022-02-22 13:11] sesheta commented on #621
@Gkrumbach07: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/jupyterlab-requirements/issues/621#issuecomment-1047781878):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the

[2022-02-22 14:49] pacospace commented on #315
Fixed by: https://github.com/thoth-station/jupyterlab-requirements/pull/623 cc @Gkrumbach07 ?

[2022-02-22 15:07] Gkrumbach07 commented on #315
Yes the banners will notify if the package is valid or not before the user installs the packages.

[2022-02-22 15:10] Gkrumbach07 commented on #232
/assign @Gkrumbach07

[2022-02-22 15:11] #315 closed

[2022-02-22 15:28] Gkrumbach07 commented on #111
/assign @Gkrumbach07

[2022-02-22 20:52] Gkrumbach07 commented on #607
Docs will be available by running the command `npx typedoc`. Should we deploy the docs using GitHub Pages (essentially storing the HTML doc files in the repo ~3.8 MB). Or should we deploy it using an alternative method.

**note**: It is a basic static webpage, so it would be deployed similar to the way Thoth Search is deployed, except without the stage deployment.

cc @goern @fridex @pacospace

[2022-02-24 16:08] sesheta commented on #17
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-24 16:08] sesheta commented on #404
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-01 13:08] sesheta commented on #586
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-10 10:09] sesheta commented on #579
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-24 14:27] sesheta commented on #564
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-24 14:27] sesheta commented on #565
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-26 17:27] sesheta commented on #17
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-26 17:27] sesheta commented on #404
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-04-09 11:28] sesheta commented on #579
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-04-23 14:30] sesheta commented on #564
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-04-23 17:09] sesheta commented on #565
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-23 17:09] sesheta commented on #572
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-23 17:09] #565 closed

[2022-04-23 17:09] sesheta commented on #565
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/jupyterlab-requirements/issues/565#issuecomment-1107535947):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2022-04-23 17:09] sesheta commented on #572
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/jupyterlab-requirements/issues/572#issuecomment-1107535953):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2022-04-23 17:09] #572 closed

[2022-04-25 20:09] sesheta commented on #17
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-25 20:09] sesheta commented on #404
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-25 20:09] sesheta commented on #17
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/jupyterlab-requirements/issues/17#issuecomment-1108992046):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2022-04-25 20:09] sesheta commented on #404
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/jupyterlab-requirements/issues/404#issuecomment-1108992064):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2022-04-25 20:09] #404 closed

[2022-04-26 07:27] goern commented on #345
/sig stack-guidance

[2022-04-30 17:10] sesheta commented on #586
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-30 17:10] #586 closed

[2022-04-30 17:10] sesheta commented on #586
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/jupyterlab-requirements/issues/586#issuecomment-1114021582):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2022-05-09 14:12] #579 closed

[2022-05-23 10:16] sesheta commented on #624
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-23 16:16] sesheta commented on #620
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-23 17:13] sesheta commented on #564
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-05-23 17:13] #564 closed

[2022-05-23 17:13] sesheta commented on #564
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/jupyterlab-requirements/issues/564#issuecomment-1134934810):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2022-05-23 22:16] sesheta commented on #607
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-14 06:11] harshad16 opened #625 "[2pt] plugin is unable to send request to Thoth engine"
**Describe the bug**
The plugin is failing to send the locking request to Project Thoth, as it is not updated with the latest user-api changes
it is still sending the same parameters, and causing extra parameter issues.
`Extra query parameter(s) count not in spec",\n  "status": 400`

The count parameter was removed in v0.35.2:
https://github.com/thoth-station/user-api/commit/1615c40699c204825cb087

[2022-06-14 06:26] harshad16 opened #626 "Kebechet update"
Hey, Kebechet!

Update my dependencies, please.

[2022-06-14 06:35] harshad16 commented on #626
[kebechet-job-220614062629-cb47b18f5a79c7ae-2820527304-main.log](https://github.com/thoth-station/jupyterlab-requirements/files/8897029/kebechet-job-220614062629-cb47b18f5a79c7ae-2820527304-main.log)

kebechet didnt find any updates.

[2022-06-14 06:47] #626 closed

[2022-06-14 06:49] sesheta opened #628 "new patch release"

[2022-06-14 06:54] #628 closed

[2022-06-19 16:02] sesheta commented on #232
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-19 16:02] sesheta commented on #111
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-22 18:49] sesheta commented on #620
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-23 00:49] sesheta commented on #607
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-24 14:59] harshad16 opened #630 "Not to use pip module prompt is being sent on each instance"
**Describe the bug**
Users are facing with huge volume of prompt to not use pip, lets reduce these prompt message to one
Further discuss: https://chat.google.com/room/AAAAVjnVXFk/cY0DMXbRtIU
![image](https://user-images.githubusercontent.com/14028058/175562336-318c23cd-947e-4026-8f39-9e4656391a08.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to notebook
2. type `pip install in cell

[2022-06-29 13:24] mayaCostantini opened #632 "[2pt] SystemExit error when running `%horus --help`"
**Describe the bug**

When running `%horus --help` in a new notebook on Operate First (smaug), the following error occurs:

[code]

**To Reproduce**

Run `%horus --help` in a new notebook on [https://jupyterhub-opf-jupyterhub.apps.smaug.na.operate-first.cloud/](https://jupyterhub-opf-jupyterhub.apps.smaug.na.operate-first.cloud/)

[2022-06-29 13:25] mayaCostantini commented on #632
/priority critical-urgent

[2022-06-29 13:26] harshad16 commented on #632
please try `%horus help`
https://github.com/thoth-station/jupyterlab-requirements/blob/master/docs/source/horus-magic-commands.md#help

[2022-06-30 10:49] codificat commented on #632
Good!
But the bug here is that this should be the output of `%horus --help` (instead of the traceback), no?

I believe this would be a
/sig user-experience
improvement.

Given that the right command actually works, maybe:
/remove-priority critical-urgent
/priority important-soon

[2022-07-01 13:38] harshad16 opened #634 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-07-01 13:41] #634 closed, assigned to sesheta

[2022-07-12 11:58] Gkrumbach07 commented on #630
/close
confirmed working in latest release

[2022-07-12 11:58] #630 closed

[2022-07-12 11:58] sesheta commented on #630
@Gkrumbach07: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/jupyterlab-requirements/issues/630#issuecomment-1181671054):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the

[2022-07-19 13:12] Gkrumbach07 commented on #632
**suggested actions**
- [ ] See if issue is resolved
- [ ] see if --help is still broken

[2022-07-19 13:12] Gkrumbach07 commented on #632
/triage accepted

[2022-07-19 13:15] Gkrumbach07 commented on #111
story point: 3

[2022-07-19 13:17] Gkrumbach07 commented on #115
**story points** 3

[2022-07-19 16:06] sesheta commented on #322
@mayaCostantini:
	This request has been marked as suitable for new contributors.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md#good-first-issue).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-good-first-issue` command.

<details>

In response to [this](ht

[2022-07-22 15:43] sesheta commented on #624
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-22 15:43] sesheta commented on #624
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/jupyterlab-requirements/issues/624#issuecomment-1192705840):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2022-07-22 15:43] #624 closed

[2022-07-22 21:43] sesheta commented on #620
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-22 21:43] sesheta commented on #620
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/jupyterlab-requirements/issues/620#issuecomment-1192954411):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2022-07-22 21:43] #620 closed

[2022-07-23 03:43] sesheta commented on #607
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-23 03:43] sesheta commented on #607
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/jupyterlab-requirements/issues/607#issuecomment-1193051332):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2022-07-23 03:43] #607 closed

[2022-08-08 13:11] codificat commented on #625
/priority critical-urgent
/assign @Gkrumbach07
as this is a similar fix to what was fixed in the search UI
/triage accepted

[2022-08-18 21:46] sesheta commented on #232
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-08-18 21:52] #232 closed

[2022-08-18 21:52] sesheta commented on #232
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/jupyterlab-requirements/issues/232#issuecomment-1219998931):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2022-08-29 13:20] codificat commented on #289
/sig user-experience

[2022-08-29 13:29] codificat commented on #553
/sig user-experience

[2022-08-29 13:31] codificat commented on #291
This seems to be about adding testing to verify that the extension keeps up to date with API changes

/sig user-experience

[2022-08-29 13:33] VannTen commented on #291
Another option would be to generate one from the other to make mismatch impossible, if that's possible. (might not be)

[2022-08-29 13:33] codificat commented on #322
/sig stack-guidance

[2022-08-30 12:33] Gkrumbach07 commented on #632
/close

[2022-08-30 12:33] sesheta commented on #632
@Gkrumbach07: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/jupyterlab-requirements/issues/632#issuecomment-1231604751):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the

[2022-08-30 12:33] #632 closed

[2022-08-30 17:40] Gkrumbach07 commented on #625
/close

[2022-08-30 17:40] #625 closed

[2022-08-30 17:40] sesheta commented on #625
@Gkrumbach07: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/jupyterlab-requirements/issues/625#issuecomment-1231969670):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the

[2022-09-20 13:30] Gkrumbach07 commented on #568
possible good intern project

[2022-10-11 14:41] Gkrumbach07 commented on #553
reference to [command](https://github.com/thoth-station/jupyterlab-requirements/blob/master/docs/source/horus-magic-commands.md#convert)

- [ ] This CLI command should be able to convert all `pip` commands to `horus` given a notebook file or directory that contains notebook files.
- [ ] It should be able to tell you how many command were changed and in what files.

[2022-10-11 15:12] Gkrumbach07 commented on #47
nothing to be done, the widget will always insert at that position but will be shifted if another is inserted at that position.

/close

[2022-10-11 15:12] #47 closed

[2022-10-11 15:12] sesheta commented on #47
@Gkrumbach07: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/jupyterlab-requirements/issues/47#issuecomment-1274856269):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the